<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about-page</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <section>
      <h1>Raphael Nadal</h1>
      <h2>
        Rafael Nadal Parera (born 3 June 1986 in Manacor, Majorca, Spain) is a
        Spanish professional tennis player who has won a joint-record 22 Grand
        Slam singles titles; fourteen at the French Open, four at the US Open,
        two at Wimbledon and two at the Australian Open. He has been ranked
        number one in the world for 209 weeks.
      </h2>
      <img src="/images/rafa-nadal.jpg" alt="image not found" />
      <h2>
        Nadal is one of only two men to complete the Career Golden Slam in
        singles. His 81 consecutive wins on clay is the longest single-surface
        win streak in the Open Era. Last updated on: 22 May 2023. For over a
        decade, Nadal has dominated men's tennis along with Roger Federer and
        Novak Djokovic as the Big Three.
      </h2>
      <h2>
        Roland Garros has been his second home. Alongside his 97% winning record
        at the tournament, Nadal has a host of other incredible statistics from
        that patch of Paris. He won 90 of those 112 victories in straight sets
        and took the 2008, 2010, 2017 and 2020 titles without dropping a single
        one.
      </h2>
    </section>
  </body>
</html>
