<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>works-page</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/works.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <section>
    <h1>5 Rafael Nadal records that may never be broken:</h1>
    <ol reversed>
      <li>
         Rafael Nadal has the longest ever single-surface win streak in the Open era
      </li>
      <p><a href="https://youtu.be/Qu-ABwRlKc0">#5 record</a></p>

      <li>
         4 Grand Slam titles without dropping a set - French Open (2008, 2010,
        2017, 2020)
      </li>
      <p></p>

      <li> Youngest to complete a career Grand Slam</li>
      <p><img src="/images/3rdrecord.png" alt="" /></p>

      <li> 14 French Open titles from 14 finals</li>
      <p><a href="https://youtu.be/PuyjcqBVR98">#2 record</a></p>

      <li> Winning 16 titles before turning 20</li>
      <p><a href="https://youtu.be/NUmnuhCnfG4">#1 record</a></p>
    </ol>
    </section>
  </body>
</html>
