<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>works-page</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>

    <section>
      <h2>
        #5 Rafael Nadal has the longest ever single-surface win streak in the
        Open era
      </h2>
      <p><a href="https://youtu.be/Qu-ABwRlKc0">#5 record</a></p>
    </section>
    <section>
      <h2>
        #4 4 Grand Slam titles without dropping a set - French Open (2008, 2010,
        2017, 2020)
      </h2>
      <p></p>
    </section>
    <section>
      <h2>#3 Youngest to complete a career Grand Slam</h2>
      <p><img src="/images/3rdrecord.png" alt="" /></p>
    </section>
    <section>
      <h2>#2 14 French Open titles from 14 finals</h2>
      <p><a href="https://youtu.be/PuyjcqBVR98">#2 record</a></p>
    </section>
    <section>
      <h2>#1 Winning 16 titles before turning 20</h2>
      <p><a href="https://youtu.be/NUmnuhCnfG4">#1 record</a></p>
    </section>

    <h1>5 Rafael Nadal records that may never be broken</h1>
  </body>
</html>
